# development environment
PORT=3000

# Twitter variables
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=

# Genius.com access tokens
GENIUS_CLIENT_ID=
GENIUS_CLIENT_TOKEN=
GENIUS_CLIENT_SECRET=

# You can customize the endpoint that wakes up your Twitter bot. This way you can prevent someone else from triggering it.
# You can make it something simple like 'tweet', or something random, like 'tweet12345endpoint9876'.

BOT_ENDPOINT=
